# Cleaning the NHANES diabetes data

[DSLC stages]: Data cleaning and pre-processing


Start by loading in any libraries that you will use in this document.

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

pd.set_option('display.max_columns', None)


## Domain problem formulation

Write a summary of the problem.



## Data source overview

Briefly describe where the data being used for this project came from


## Step 1: Review background information {#sec-bg-info}

### Information on data collection

Write a summary of how the data was collected.

### Data dictionary

If there is a data dictionary, give some details here.


### Answering questions about the background information

Answer the recommended background information questions from the Data Cleaning chapter.

- *What does each variable measure?* 

- *How was the data collected?* 

- *What are the observational units?* 

- *Is the data relevant to my project?*


## Step 2: Loading in the data


Load in the data.

In [5]:
diabetes_orig = pd.read_csv("../data/samadult.csv")

Let's look at the first few rows to make sure it looks like it has been loaded in correctly:

In [6]:
diabetes_orig.head()

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,BFWH_05,BFWH_06,BFWH_07,BFWH_08,BFWH_09,BFWH_10,BNRFALL,BINTHI,BINTTR,BINTRS
0,1,1,1,1,11241.0,26100,1,12,8,2,...,2.0,2.0,2.0,2.0,1.0,2.0,5.0,2.0,2.0,2.0
1,1,2,1,1,5620.5,11294,2,12,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,2,1,2919.3,2506,1,12,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,1,3,1,8883.8,9267,2,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1,5,1,3300.8,3443,2,3,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

And let's examine the dimension of the data.

In [7]:
diabetes_orig.shape

(33028, 805)

That's a lot of data!



## Step 3: Examine the data

In this section we explore the common messy data traits to identify any cleaning action items.



### Finding invalid values

#### Numeric variables

#### Categorical variables

### Examining missing values

### Examining the data format

### Assessing column names

### Assessing variable type

### Evaluating data completeness


### Answering any unanswered questions



## Step 4: Prepare the data

Don't forget to split the data into training, validation and test sets before you clean and pre-process it!